
xinu-bbb/compile/xinu.elf
xinu-bbb/compile/binaries/xsh_udpecho.o
xinu-bbb/compile/binaries/xsh_udpserver.o
xinu-bbb/compile/binaries/xsh_udpdump.o
xinu-bbb/compile/uboot-tool/image.h
xinu-bbb/compile/uboot-tool/mkimage
xinu-bbb/compile/mipsVars
xinu-bbb/compile/uboot-tool/COPYRIGHT
xinu-bbb/compile/uboot-tool/Makefile
xinu-bbb/compile/binaries/xsh_ps.o
xinu-bbb/compile/binaries/xsh_netinfo.o
xinu-bbb/compile/binaries/xsh_uptime.o
xinu-bbb/compile/binaries/yield.o
xinu-bbb/compile/binaries/xsh_ping.o
xinu-bbb/compile/binaries/xsh_memdump.o
xinu-bbb/compile/binaries/xsh_kill.o
xinu-bbb/compile/ld.script
xinu-bbb/compile/binaries/xsh_sleep.o
xinu-bbb/compile/binaries/xsh_memstat.o
*.o
xinu-bbb/compile/.,BUILDM1-17195
xinu-bbb/compile/.defs
xinu-bbb/compile/Makefile
xinu-bbb/compile/xinu.bin
xinu-bbb/compile/xinu.map
xinu-bbb/compile/xinu
xinu-bbb/compile/bin/buildxbin
xinu-bbb/compile/bin/build-make
xinu-bbb/compile/.vers_num
xinu-bbb/compile/.deps
xinu-bbb/compile/uboot-tool/crc32.c
xinu-bbb/compile/uboot-tool/source.txt
xinu-bbb/compile/uboot-tool/mkimage.c
xinu-bbb/compile/bin/mkvers
xinu-bbb/compile/version
/xinu-bbb/compile/uboot-tool
/.vs
